fastapi
uvicorn[standard]
langchain
langchain-core
langchain-google-genai
langchain-chroma
langchain-community
google-cloud-secret-manager
google-cloud-logging
google-auth
google-cloud-storage
langchain_google_vertexai
firebase-admin
chroma
pypdf
fpdf
lxml
youtube-transcript-api
pytube
python-dotenv
pytest
pandas
langchain_google_vertexai
html5lib
beautifulsoup4
docx
python-docx
reportlab
dotenv
