fastapi
uvicorn[standard]
langchain
langchain-core
langchain-google-vertexai
langchain_chroma
google-cloud-secret-manager
google-cloud-logging
google-auth
google-cloud-storage
firebase-admin
chroma
pypdf2
fpdf
youtube-transcript-api
pytube